{% extends "home/base.html" %}
{% block content %}
{% load static %}
<body>
    <br><br>
    <div class="container" align="center">
        <a href="#"><button type="button" class="btn btn-primary"> <span class="glyphicon glyphicon-globe"></span> About Me </button></a>
        <a href="{% url 'lab:pressure_monitor' %}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-glass">lab stuff</span></button></a>
        <a href="{% url 'blog:index' %}"><button type="button" class="btn btn-primary"> <span class="glyphicon glyphicon-console"></span> Blog </button></a>
    </div>
    <br>
    <br>
    <div class="container" align="center">
        <img style="max-width:100%;" src="{% static 'home/images/homepage_pic.png' %}">
    </div>
</body>
{% endblock %}
