html {
  position: relative;
  min-height: 85%;
}

body {
  margin-bottom: 60px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

footer .fa {
    padding: 20px;
    font-size: 30px;
    color: white;
    }
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  line-height: 15px;
}

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.profile .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.profile img {
    width: 100%;
}

.profile .title {
    color: grey;
    font-size: 18px;
}

.profile a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
