{% extends "home/base.html" %}
{% block title %}
  Little Machine
{% endblock %}

{% block link %}
  {% load static %}
  <link href="{% static 'lab/pressure_monitor/css/style.css' %}" rel="stylesheet" type="text/css">
  <script language="javascript" type="text/javascript" src="{% static 'lab/pressure_monitor/js/jquery.js' %}"></script>
  <script language="javascript" type="text/javascript" src="{% static 'lab/pressure_monitor/js/jquery.flot.js' %}"></script>
  <script language="javascript" type="text/javascript" src="{% static 'lab/pressure_monitor/js/jquery.flot.selection.js' %}"></script>
  <script language="javascript" type="text/javascript" src="{% static 'lab/pressure_monitor/js/jquery.flot.time.js' %}"></script>
  <script language="javascript" type="text/javascript" src="{% static 'lab/pressure_monitor/js/custom.js' %}"></script>
{% endblock %}

{% block content %}
  <div id="header">
    <h2>Little Machine</h2>
  </div>
  <div id="content">
    <h3>Main Chamber Pressure (Torr)</h3>
    <div class="demo-container">
      <div id="dmcp" class="demo-placeholder"></div>
    </div>
    <h3>Main Chamber Temperature (C)</h3>
    <div class="demo-container">
      <div id="dmct" class="demo-placeholder"></div>
    </div>
  </div>
{% endblock %}
