{% extends "home/base.html" %}
{% block title %}Little Machine{% endblock %}

{% block link %}
  {% load static %}
  <link href="{% static 'lab/pressure_monitor/css/custom.css' %}" rel="stylesheet" type="text/css">
  <script language="javascript" type="text/javascript" src="{% static 'lab/pressure_monitor/js/jquery.flot.js' %}"></script>
  <script language="javascript" type="text/javascript" src="{% static 'lab/pressure_monitor/js/jquery.flot.selection.js' %}"></script>
  <script language="javascript" type="text/javascript" src="{% static 'lab/pressure_monitor/js/jquery.flot.time.js' %}"></script>
  <script language="javascript" type="text/javascript" src="{% static 'lab/pressure_monitor/js/custom.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="text-center">Little Machine Pressure Monitor</h2>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <h3 class="text-center">Pressure (Torr)</h3>
        <div class="demo-container">
          <div id="dmcp" class="demo-placeholder"></div>
        </div>
      </div>
      <div class="col-sm-6">
        <h3 class="text-center">Temperature (C)</h3>
        <div class="demo-container">
          <div id="dmct" class="demo-placeholder"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
