{% extends "blog/base.html" %}
{% load bootstrap4 %}
{% block title %}
  {{ post.title }}
{% endblock title %}

{% block content %}
<div class="col-lg-8">
  <h1 class="mt-4">{{ post.title }}</h1>
  <p class="lead">by <a href="{% url 'home:about' %}">{{ post.author }}</a></p>
  <hr>
  <p>Posted on {{ post.created_date|date:'M d, Y' }} Last Updated on {{ post.published_date|date:'M d, Y' }}</p>
  {% if user.is_superuser %}
    <a href="{% url 'blog:post_edit' post.slug %}"><button type="button" class="btn btn-primary">EDIT</button></a>
    <a href="{% url 'blog:post_remove' post.slug %}"><button type="button" class="btn btn-danger">DELETE</button></a>
  {% endif %}
  <hr>
  {% autoescape off %}
    <p>{{ post.body }}</p>
  {% endautoescape %}
  <hr>
</div>
{% endblock content %}

{% block comment %}
    <a href="{% url 'blog:add_comment' post.slug %}">
      <button type="submit" class="btn btn-primary">Post comment</button>
    </a>
    <hr>
    <div class="media mb-4">
      <div class="media-body">
      {% for comment in post.comments.all  %}
        <strong class="mt-0">{{ comment.author }}</strong>
        <small>Posted on {{ comment.created_date|date:'M d, Y' }}</small>
        {{ comment.text|linebreaks }}
      {% empty %}
          <p>No comments here yet...</p>
      {% endfor %}
      </div>
    </div>
{% endblock comment %}
