{% extends "blog/base.html" %}
{% load bootstrap3 %}
{% block content %}
<main class="content" role="main">
  <article class="preview">
    <header>
      <h1 class="post-title">{{ post.title }}</h1>
      <div class="post-meta">
        <p>published: {{ post.created_date|date:'M d, Y H:i' }}</p>
        <p>Last Updated: {{ post.published_date|date:'M d, Y H:i' }}</p>
      </div>
      {% if user.is_superuser %}
        <a class="btn btn-default" href="{% url 'blog:post_edit' post.slug %}">{% bootstrap_icon 'edit' %}</a>
        <a class="btn btn-default" href="{% url 'blog:post_remove' post.slug %}">{% bootstrap_icon 'remove' %}</a>
      {% endif %}
      {% autoescape off %}
        <p>{{ post.body }}</p>
      {% endautoescape %}
    </header>
  </article>
</main>
{% endblock %}
