{% extends "blog/base.html" %}
{% load bootstrap4 %}
{% load disqus_tags %}
{% block title %}
  {{ post.title }}
{% endblock title %}

{% block content %}
<div class="col-lg-8">
  <h1 class="mt-4">{{ post.title }}</h1>
  <p class="lead">by <a href="{% url 'home:about' %}">{{ post.author }}</a></p>
  <hr>
  <p>Posted on {{ post.created_date|date:'M d, Y' }} Last Updated on {{ post.published_date|date:'M d, Y' }}</p>
  {% if user.is_superuser %}
    <a href="{% url 'blog:post_edit' post.slug %}"><button type="button" class="btn btn-primary">EDIT</button></a>
    <a href="{% url 'blog:post_remove' post.slug %}"><button type="button" class="btn btn-danger">DELETE</button></a>
  {% endif %}
  <hr>
  {% autoescape off %}
    {{ post.formatted_markdown }}
  {% endautoescape %}
  <hr>
</div>
{% endblock content %}

{% block comment %}
  {% disqus_show_comments %}
{% endblock comment %}
