{% extends "home/base.html" %}
{% block title %}Little Machine Pressure Monitor{% endblock %}

{% block link %}
  {% load static %}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script language="javascript" type="text/javascript" src="{% static 'lab/pressure_monitor/js/custom.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="container">

    <h1 class="text-center">Little Machine Pressure Monitor</h2>
    <div class="row">
      <div class="col-md-6">
        <div id="plot1"></div>
      </div>
      <div class="col-md-6">
        <div id="plot2"></div>
      </div>
    </div>

    <br />
    <hr />
    <br />

    <h1 class="text-center">Big Machine Pressure Monitor</h2>
    <div class="row">
      <div class="col-lg-6">
        <div id="plot3"></div>
      </div>
      <div class="col-lg-6">
        <div id="plot4"></div>
      </div>
    </div>

  </div>
{% endblock %}
